<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">角色列表</h3>

  </div>
  <div class="box-header  with-border">
    <a class="btn btn-success btn-xs" (click)="create()"><span class="fa fa-edit"></span>&nbsp;新增角色</a>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="查找角色">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th>序号</th>
        <th>角色名称</th>
        <th>备注</th>
        <th>创建人</th>
        <th>创建时间</th>
        <th>修改人</th>
        <th>修改时间</th>
        <th>详情</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let role of roles | role:'name':keywork;let i = index">
        <td>{{i+1}}</td>
        <td>{{role.name}}</td>
        <td>{{role.desc}}</td>
        <td>{{role.createdby}}</td>
        <td>{{role.createdtime}}</td>
        <td>{{role.modifyby}}</td>
        <td>{{role.modifytime}}</td>
        <td><a class="btn btn-info btn-xs"><span class="fa fa-odnoklassniki"></span>&nbsp;详情</a></td>
        <td>
          <a class="btn btn-warning btn-xs" (click)="update(role,i)"><span class="fa fa-edit"></span>&nbsp;修改</a>&nbsp;
          <a class="btn btn-danger btn-xs" (click)="delete(i)"><span class="fa fa-trash-o"></span>&nbsp;删除</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer clearfix">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>

